-  var projects = [];
.projects
  - for (var i in state.projects )
   ProjectElement(
    project=state.projects[i] 
    isSelected=state.selected.index == i 
    isOpenMenu=state.selected.index == i && state.selected.openMenu
    menuIndex=state.selected.menuIndex)
